body{background-image: url(landing_page.png);background-size: cover; margin: 0;}
*{box-sizing: border-box;}
#box1 {margin-left: 81px; margin-top: 300px;}
button{ font-size: 14px; color: white;width: 88px;height: 25px; border-radius: 6px; background: none; border: solid 1px white;}